.catalog {
    .catalog-main {
        max-width: 100%;

        display: flex;
        // justify-content: center;
        flex-wrap: wrap;
        padding: 164px 0 180px 0;

        .catalog-main__block {
            max-width: 440px;
            margin: 0 20px 20px 0;

            .block__title {
                font-family: 'Roboto';
                font-size: 50px;
                line-height: 1.2;
                font-weight: 400;
                color: #292D32;
            }

            .block__txt {
                font-family: 'Roboto';
                font-size: 18px;
                line-height: 1.2;
                font-weight: 300;
                color: #838383;

                padding: 29px 0 46px 0;
            }

            .block__btn-block {

                .block__btn {
                    background-color: #33A9FF;
                    border: none;
                    padding: 15px;
                    border-radius: 50%;

                    cursor: pointer;
                }

                .block__btn:hover {
                    background-color: #1a70ae;
                    transition: .3s linear;
                }

                .block__href {
                    font-family: 'Roboto';
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 400;
                    color: #292D32;

                    padding-left: 12px;
                }
            }

            @media (max-width:575px) {
                .block__title {
                    font-size: 30px;
                }

                .block__txt {
                    font-size: 15px;
                    padding: 20px 0 30px 0;
                }
            }
        }

        @media (max-width:575px) {
            .catalog-main__block {
                padding: 0 15px;
            }
        }

        .catalog-main__block-prodact {
            // flex: 1 1 0;
            width: 440px;
            height: 381px;
            border-radius: 20px;
            // position: relative;
            cursor: pointer;

            .block-prodact__number {
                font-family: 'Roboto';
                font-size: 25px;
                font-weight: 200;
                color: #292D32;

                padding: 50px 0 0 28px;
            }

            .block-prodact__img {
                position: relative;

                .block-prodact__laptop {
                    position: absolute;
                    left: 0;
                    bottom: -150px;
                }

                .block-prodact__monitor {
                    position: absolute;
                    left: 110px;
                    bottom: -150px;
                }

                .block-prodact__server {
                    position: absolute;
                    left: 50px;
                    bottom: -170px;
                }

                .block-prodact__emc {
                    position: absolute;
                    left: 80px;
                    bottom: -170px;
                }

                .block-prodact__parts {
                    position: absolute;
                    left: 60px;
                    bottom: -210px;
                }

                @media (max-width:575px) {
                    .block-prodact__laptop {
                        max-width: 302px;
                        max-height: 178px;
                    }

                    .block-prodact__monitor {
                        max-width: 210px;
                        max-height: 193px;
                        left: 67px;
                        bottom: -168px;
                    }

                    .block-prodact__server {
                        max-width: 264px;
                        max-height: 107px;
                        left: 35px;
                        bottom: -148px;
                    }

                    .block-prodact__emc {
                        max-width: 226px;
                        max-height: 124px;
                        left: 41px;
                        bottom: -148px;
                    }

                    .block-prodact__parts {
                        max-width: 253px;
                        max-height: 167px;
                        left: 38px;
                        bottom: -168px;
                    }
                }
            }

            .block-prodact__text {
                padding: 186px 0 40px 40px;

                .block-prodact__suptitle {
                    font-family: 'Roboto';
                    font-size: 18px;
                    font-weight: 300;
                    color: #838383;
                }

                .block-prodact__title {
                    font-family: 'Roboto';
                    font-size: 25px;
                    line-height: 1.2;
                    font-weight: 400;
                    color: #292D32;
                }

                @media (max-width:575px) {
                    .block-prodact__suptitle {
                        font-size: 15px;
                    }

                    .block-prodact__title {
                        font-size: 20px;
                    }
                }
            }

            .block-prodact__title:hover {
                text-decoration: underline;
            }

            @media (max-width:575px) {
                .block-prodact__text {
                    padding: 170px 0 49px 20px;
                }

                .block-prodact__number {
                    font-size: 20px;
                    padding: 20px 0 0 20px;
                }
            }
        }

        @media (max-width:575px) {
            .catalog-main__block-prodact {
                width: 345px;
                height: 275px;
            }
        }

        .margin01 {
            margin: 0 20px 20px 20px;
            background-color: #F2F2F2;
        }

        .margin01:hover {
            background-color: #F9F9F9;
            transition: .3 linear;
        }

        .margin02 {
            margin: 0 0 20px 20px;
            background-color: #F9F9F9;
        }

        .margin02:hover {
            background-color: #F2F2F2;
            transition: .3 linear;
        }

        .margin03 {
            margin: 20px 20px 0 0;
            background-color: #F2F2F2;
        }

        .margin03:hover {
            background-color: #F9F9F9;
            transition: .3 linear;
        }

        .margin04 {
            margin: 20px 20px 0 20px;
            background-color: #F9F9F9;
        }

        .margin04:hover {
            background-color: #F2F2F2;
            transition: .3 linear;
        }

        .margin05 {
            margin: 20px 0 0 20px;
            background-color: #F2F2F2;
        }

        .margin05:hover {
            background-color: #F9F9F9;
            transition: .3 linear;
        }

        @media (max-width:575px) {
            .margin01,
            .margin02,
            .margin03,
            .margin04,
            .margin05 {
                margin: 10px 15px;
            }
        }   
    }

    @media (max-width:575px) {
        .catalog-main {
            padding: 120px 0;
        }
    }
}

@media (max-width:575px) {
    .catalog {
        max-width: 375px;
    }
}