.form {
    background: linear-gradient(to bottom, white 50%, #eeeeee 50%);

    .form_bg {
        background: url(../img/form/our\ contacts.png) no-repeat;
        background-position: 5% 99%;
    }

    .form-main {
        display: flex;
        justify-content: center;
        padding: 0 0 180px 0;
        position: relative;

        .form-main__contact {
            width: 600px;
            height: 742px;
            background-color: #f9f9f9;
            padding: 100px 0 0 100px;
            border-radius: 20px 0 0 20px;

            .contact__title {
                font-family: 'Roboto';
                font-size: 50px;
                line-height: 1.2;
                font-weight: 400;
                color: #292D32;


            }

            .contact__subtitle {
                font-family: 'Roboto';
                font-size: 16px;
                line-height: 1.2;
                font-weight: 400;
                color: #838383;

                padding: 18px 0 50px 0;
            }

            .contact-block {
                position: relative;
                max-width: 413px;
                padding-left: 50px;

                .contact-block__icon {
                    position: absolute;
                    left: -11px;
                }

                .contact-block__suptitle {
                    font-family: 'Roboto';
                    font-size: 18px;
                    line-height: 1.2;
                    font-weight: 400;
                    color: #838383;

                    padding-bottom: 8px;
                }

                .contact-block__title {
                    font-family: 'Roboto';
                    font-size: 22px;
                    line-height: 1.2;
                    font-weight: 400;
                    color: #292D32;
                }

                @media (max-width:575px) {
                    .contact-block__suptitle {
                        font-size: 15px;
                    }

                    .contact-block__title {
                        font-size: 18px;
                    }
                }
            }

            .contact__icon {
                padding-top: 62px;

                .icon__el {
                    padding-right: 10px;
                }
            }

            @media (max-width:575px) {
                .contact__title {
                    font-size: 30px;
                }

                .contact__subtitle {
                    font-size: 15px;
                    padding: 15px 0 40px 0;
                }
            }
        }

        .form__imgphone {
            position: absolute;
            top: 87px;
            left: 493px;
        }

        @media (max-width: 575px) {
            .form-main__contact {
                width: 375px;
                height: 632px;
                padding: 100px 0 0 30px;
            }

            .form__imgphone {
                top: 440px;
                left: 158px;
                width: 47%;
                height: auto;
                rotate: 10deg;
            }
        }

        .form-main__form {
            width: 600px;
            height: 742px;
            background-color: #292D32;
            border-radius: 0 20px 20px 0;
            padding: 100px 0 0 129px;

            .form__title {
                font-family: 'Roboto';
                font-size: 50px;
                line-height: 1.2;
                font-weight: 400;
                color: #ffffff;
            }

            .form__subtitle {
                font-family: 'Roboto';
                font-size: 16px;
                line-height: 1.2;
                font-weight: 400;
                color: #ffffff;

                padding: 18px 0 53px 0;
            }

            @media (max-width:575px) {
                .form__title {
                    font-size: 30px;
                }
                .form__subtitle{
                    font-size: 15px;
                }
            }   

            .form__block {
                position: relative;
                max-width: 420px;
                height: 527px;
                box-sizing: border-box;

                .form__wrap{
                    position: relative;

                    .label {
                        position: absolute;
                        top: -9px;
                        left: 28px;
                        background: #292D32;
                        padding: 0 5px;
                        font-family: 'Roboto';
                        font-weight: 300;
                        font-size: 18px;
                        color: #F2F2F2;
                    }

                    .name {
                        width: 100%;
                        background-color: #292D32;
                        border: 1px solid #818386;
                        outline: none;
                        border-radius: 20px;
                        height: 68px;
                        font-family: 'Roboto';
                        font-weight: 300;
                        font-size: 20px;
                        color: #ffffff;
                        padding: 0 10px;
                    }
                    .name.error{
                        border: 1px solid rgb(150, 26, 26);
                    }
                    .span__name{
                        font-family: 'Roboto';
                        font-size: 18px;
                        color: #F2F2F2;
                        padding: 10px 0 0 25px;
                    }

                    @media (max-width:575px) {
                        .name {
                            height: 50px;
                            font-size: 16px;
                            padding: 0 5px;
                        }
                    }   
                }

                .form__wrap {
                    position: relative;

                    .phone {
                        width: 100%;
                        background-color: #292D32;
                        border: 1px solid #818386;
                        outline: none;
                        border-radius: 20px;
                        height: 68px;
                        font-size: 20px;
                        color: #ffffff;
                        padding: 0 10px;

                        margin-top: 40px;
                    }
                    .phone.error {
                        border: 1px solid rgb(150, 26, 26);;
                    }

                    @media (max-width:575px) {
                        .phone {
                            height: 50px;
                            font-size: 16px;
                            padding: 0 5px;
                        }
                    }   

                    .label__phone {
                        position: absolute;
                        top: 28px;
                        left: 28px;
                        background: #292D32;
                        padding: 0 5px;
                        font-family: 'Roboto';
                        font-weight: 300;
                        font-size: 18px;
                        color: #F2F2F2;
                    }
                }

                .form__wrap{
                    position: relative;

                    .comm {
                        width: 100%;
                        background-color: #292D32;
                        border: 1px solid #818386;
                        outline: none;
                        border-radius: 20px;
                        font-size: 22px;
                        color: #ffffff;
                        padding: 0 10px;
                        height: 100px;
                        resize: none;

                        margin-top: 40px;
                    }

                    .comm.error {
                        border: 1px solid rgb(150, 26, 26);;
                    }

                    @media (max-width:575px) {
                        .comm {
                            height: 90px;
                            font-size: 16px;
                            padding: 0 5px;
                        }
                    }   

                    .label__comm {
                        position: absolute;
                        top: 28px;
                        left: 28px;
                        background: #292D32;
                        padding: 0 5px;
                        font-family: 'Roboto';
                        font-weight: 300;
                        font-size: 18px;
                        color: #F2F2F2;
                    }

                }

                .form__button {
                    padding-top: 71px;

                    .form__btn {
                        background-color: #33A9FF;
                        border: none;
                        padding: 15px;
                        border-radius: 50%;

                        cursor: pointer;
                    }

                    .form__btn:hover {
                        background-color: #1a70ae;
                        transition: .3s linear;
                    }

                    .form__href {
                        font-family: 'Roboto';
                        font-size: 16px;
                        line-height: 1.2;
                        font-weight: 400;
                        color: #ffffff;
                        padding-left: 12px;
                    }
                }

                @media (max-width:575px) {
                    .form__button {
                        padding: 30px 0 0 0;
                    }
                }   
            }
            @media (max-width:575px) {
                .form__block {
                    width: 319px;
                    height: 438px;
                }
            }

        }

        @media (max-width:575px) {
            .form-main__form {
                width: 375px;
                height: 558px;

                border-radius: 0;
                padding: 60px 0 0 20px;
            }
        }   
    }

    @media (max-width:575px) {
        .form-main {
            flex-wrap: wrap;
            padding: 0;
        }
    }
}

// Модификаторы
.email {
    padding: 47px 0 72px 0;
}

@media (max-width:575px) {
    .email {
        padding: 30px 0;
    }
}


@media (max-width:575px) {
    .form {
        max-width: 375px;
    }
}

.error-label{
    display: block;
    font-family: 'Roboto';
    font-size: 16px;
    color: #F2F2F2;
    padding-left: 25px;

    padding-top: 10px;
}