.header {
    background-color: #ffffff;

    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;

    .header__menu {
        display: flex;
        justify-content: space-between;
        padding: 25px 0;

        .header__nav {
            display: flex;
            align-items: center;

            .nav__icon {
                padding-right: 60px;
            }
            @media (max-width:575px) {
                .nav__icon {
                    padding-right: 55px;
                }
            } 

            .nav__list {
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 15px;
                color: #292D32;

                text-transform: uppercase;
                padding-right: 40px;
            }

            .nav__list:hover {
                color: #9ba9b1;
                transition: .3s linear;
            }
        }

        .header__icons {
            display: flex;
            align-items: center;

            .icons__item {

                margin: 0 17px;

                border-radius: 50%;
                padding: 10px;
                background-color: #F9F9F9;
            }
            @media (max-width:575px) {
                .icons__item {
                    margin: 0 15px;
                }
            } 

            .icons__item:last-child {
                margin-right: 0;
            }

            .icons__item:hover {
                background-color: #f4f4f4;
                transition: .3s linear;
            }

            .icons__img {
                width: 15.64px;
                height: 18.58px;
            }


        }
    }

    @media (max-width:767px) {
        .header__menu {
            display: inline-flex;
        }

        .nav__icon {
            padding-left: 15px;
        }
        .wrap__list{
            position: fixed;
            left: -150%;
            top: 100px;
            background-color: #fff;
            width: 100%;
            padding: 50px 0 20px 50px;
            transition: left .3s ease 0s;
        }
        .nav-list__list {
           
        }
        .wrap__list._active{
            left: 0;
        }

        .header__icons {
            margin-left: 40px;
        }

        .nav__list {
            display: block;
            padding-bottom: 45px;
        }

        .hid {
            display: none;
        }

        .color {
            border-radius: 50%;
            padding: 15px 10px;
            background-color: #F9F9F9;
            margin-left: 17px;
        }

        .burger__btn {
            z-index: 5;
            display: block;
            position: relative;
            width: 18px;
            height: 10px;
            cursor: pointer;

        }

        .burger__btn span,
        .burger__btn::before,
        .burger__btn::after {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all .3s ease 0s;
            background-color: #292D32;
        }

        .burger__btn::before,
        .burger__btn::after {
            content: '';
        }

        .burger__btn::before {
            top: 0;
        }

        .burger__btn::after {
            bottom: 0;
        }

        .burger__btn span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }

        .burger__btn._active span{
            transform: scale(0) translate(0px, -50%);
        }
        .burger__btn._active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }

        .burger__btn._active::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }
    }

    @media (max-width:575px) {
        .header__icons{
           margin-left: 20px; 
        }
        .color {
            margin-left: 15px;
        }
    }
} 
