.slider {
    background-color: #F2F2F2;
    margin-top: 100px;

    .slider_bg {
        background: url(../img/slider/slider.jpg) no-repeat;
        background-position: right;
        background-size: 28% 100%;
    }


    .swiper {
        .swiper-wrapper {

            .swiper-slide {
                display: flex;
                background: url(../img/slider/Dell.png) no-repeat;
                background-position: 0 20%;
                position: relative;



                .slider__scroll {
                    padding: 355px 108px 0 0;

                    .scroll__txt {
                        writing-mode: vertical-lr;
                        transform: scale(-1);

                        padding-top: 15px;

                        font-family: 'Roboto';
                        font-size: 16px;
                        line-height: 1.2;
                        font-weight: 300;
                        color: #838383;
                    }

                }

                .swiper-slide__block {
                    padding: 250px 0 150px 0;

                    .swiper-slide__suptitle {
                        font-family: 'Roboto';
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 1.2;
                        color: #838383;
                    }

                    .swiper-slide__title {
                        font-family: 'Roboto';
                        font-size: 50px;
                        font-weight: 400;
                        line-height: 1.2;
                        color: #292D32;

                        max-width: 400px;
                        padding: 15px 0 60px 0;
                    }



                    .block__btn {
                        background-color: #33A9FF;
                        border: none;
                        padding: 15px;
                        border-radius: 50%;

                        cursor: pointer;
                    }

                    .block__btn:hover {
                        background-color: #1a70ae;
                        transition: .3s linear;
                    }

                    .block__href {
                        font-family: 'Roboto';
                        font-size: 16px;
                        color: #292D32;
                        padding-left: 12px;
                    }

                    @media (max-width:575px) {
                        .swiper-slide__suptitle {
                            font-size: 15px;
                        }

                        .swiper-slide__title {
                            font-size: 30px;
                            padding: 15px 0 28px 0;
                        }
                    }
                }

                .swiper-slide__img {
                    padding: 41px 60px 47px 0;

                    .main-img {}
                }

                @media (max-width:575px) {
                    .swiper-slide__block {
                        padding: 110px 0 590px 15px;
                    }

                    .swiper-slide__img {
                        padding: 0;
                    }

                    .slider__scroll {
                        display: none;
                    }

                    .main-img {
                        position: absolute;
                        top: 299px;
                        left: 60px;
                        width: 237px;
                        height: 325px;
                    }
                }

                .swiper-slide__menu {

                    padding-top: 320px;

                    .menu__txt {
                        font-family: 'Roboto';
                        font-size: 25px;
                        color: #292D32;
                        max-width: 180px;
                        font-weight: 400;
                    }
                }

                @media (max-width:575px) {
                    .swiper-slide__menu {
                        padding: 80px 170px 100px 30px;
                        background: url(../img/slider/slider.jpg) no-repeat;
                        background-size: cover;
                        position: absolute;
                        left: -2px;
                        top: 641px;
                    }

                    .menu__txt {}
                }
            }

            @media (max-width:575px) {
                .swiper-slide {

                    background: url(../img/Dell375.png) no-repeat;
                    background-position: 30% 5%;
                }
            }
        }

        .swiper-pagination {
            left: 70%;
            top: 80%;
        }

        .swiper-pagination-bullet-active {
            background-color: #292D32;
            ;
        }

        .swiper-button-next {
            top: 80%;
            left: 85%;
        }

        .swiper-button-next::after {
            content: '';
        }

        @media (max-width:575px) {
            .swiper-button-next {
                top: 68%;
                left: 78%;
            }

            .slider__arrow {
                width: 64px;
                height: 14px;
            }

            .swiper-pagination {
                left: 50%;
                top: 68%;
            }
        }

    }

    @media (max-width:575px) {
        .slider_bg {
            background: none;
        }
    }
}

@media (max-width:575px) {
    .slider {
        max-width: 375px;
    }
}