.slider {
    background-color: #F2F2F2;


    .swiper {
        .swiper-wrapper {

            .swiper-slide {
                display: flex;
                background: url(../img/slider/Dell.png) no-repeat;
                background-position: 0 20%;


                .slider__scroll {
                    padding: 355px 108px 0 0;

                    .scroll__txt {
                        writing-mode: vertical-lr;
                        transform: scale(-1);

                        padding-top: 15px;

                        font-family: 'Roboto';
                        font-size: 16px;
                        line-height: 1.2;
                        font-weight: 300;
                        color: #838383;
                    }

                    .scroll__icon {}
                }

                .swiper-slide__block {
                    padding: 250px 0 150px 0;

                    .swiper-slide__suptitle {
                        font-family: 'Roboto';
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 1.2;
                        color: #838383;
                    }

                    .swiper-slide__title {
                        font-family: 'Roboto';
                        font-size: 50px;
                        font-weight: 400;
                        line-height: 1.2;
                        color: #292D32;

                        max-width: 400px;
                        padding: 15px 0 60px 0;
                    }

                    .block__btn {
                        background-color: #33A9FF;
                        border: none;
                        padding: 15px;
                        border-radius: 50%;

                        cursor: pointer;
                    }

                    .block__btn:hover {
                        background-color: #1a70ae;
                        transition: .3s linear;
                    }

                    .block__href {
                        font-family: 'Roboto';
                        font-size: 16px;
                        color: #292D32;
                        padding-left: 12px;
                    }
                }

                .swiper-slide__img {
                    padding-right: 60px;

                    .main-img {}
                }

                .swiper-slide__menu {

                    padding-top: 320px;

                    .menu__txt {
                        font-family: 'Roboto';
                        font-size: 25px;
                        color: #292D32;
                        max-width: 180px;
                        font-weight: 400;
                    }
                }
            }
        }

        .swiper-pagination {
            left: 70%;
            top: 80%;
        }

        .swiper-pagination-bullet {}

        .swiper-pagination-bullet-active {
            background-color: #292D32;
            ;
        }

        .swiper-button-next{
            top: 80%;
            left: 85%;
        }
        .swiper-button-next::after{
            content: '';
        }
    }
}