*{
    margin: 0;
    padding: 0;
}
a{
    color:#292D32;
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
body._lock{
    overflow: hidden;
}

.slider._active,
.catalog._active{
    background-color: black;
    opacity: 0.9;
}

// ШРИФТЫ
@font-face {
    font-family: 'Euclid Circular';
    src: local('Euclid Circular Light'), local('Euclid-Circular-Light'),
        url('../fonts/EuclidCircularA-Light.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-Light.woff') format('woff'),
        url('../fonts/EuclidCircularA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Euclid Circular';
    src: local('Euclid Circular Bold'), local('Euclid-Circular-Bold'),
        url('../fonts/EuclidCircularA-Bold.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-Bold.woff') format('woff'),
        url('../fonts/EuclidCircularA-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
// HEADER
@import "header.scss";

// SLIDER
@import "slider.scss";

// CATALOG
@import "catalog.scss";

// ADVANTAGES
@import "advantages.scss";

// NEWS
@import "news.scss";

// FORM
@import "form.scss";

// FOOTER
@import "footer.scss";