* {
  margin: 0;
  padding: 0;
}

a {
  color: #292D32;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

body._lock {
  overflow: hidden;
}

.slider._active,
.catalog._active {
  background-color: black;
  opacity: 0.9;
}

@font-face {
  font-family: "Euclid Circular";
  src: local("Euclid Circular Light"), local("Euclid-Circular-Light"), url("../fonts/EuclidCircularA-Light.woff2") format("woff2"), url("../fonts/EuclidCircularA-Light.woff") format("woff"), url("../fonts/EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular";
  src: local("Euclid Circular Bold"), local("Euclid-Circular-Bold"), url("../fonts/EuclidCircularA-Bold.woff2") format("woff2"), url("../fonts/EuclidCircularA-Bold.woff") format("woff"), url("../fonts/EuclidCircularA-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}
.header .header__menu .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__menu .header__nav .nav__icon {
  padding-right: 60px;
}
@media (max-width: 575px) {
  .header .header__menu .header__nav .nav__icon {
    padding-right: 55px;
  }
}
.header .header__menu .header__nav .nav__list {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: #292D32;
  text-transform: uppercase;
  padding-right: 40px;
}
.header .header__menu .header__nav .nav__list:hover {
  color: #9ba9b1;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.header .header__menu .header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__menu .header__icons .icons__item {
  margin: 0 17px;
  border-radius: 50%;
  padding: 10px;
  background-color: #F9F9F9;
}
@media (max-width: 575px) {
  .header .header__menu .header__icons .icons__item {
    margin: 0 15px;
  }
}
.header .header__menu .header__icons .icons__item:last-child {
  margin-right: 0;
}
.header .header__menu .header__icons .icons__item:hover {
  background-color: #f4f4f4;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.header .header__menu .header__icons .icons__img {
  width: 15.64px;
  height: 18.58px;
}
@media (max-width: 767px) {
  .header .header__menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .header .nav__icon {
    padding-left: 15px;
  }
  .header .wrap__list {
    position: fixed;
    left: -150%;
    top: 100px;
    background-color: #fff;
    width: 100%;
    padding: 50px 0 20px 50px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .header .wrap__list._active {
    left: 0;
  }
  .header .header__icons {
    margin-left: 40px;
  }
  .header .nav__list {
    display: block;
    padding-bottom: 45px;
  }
  .header .hid {
    display: none;
  }
  .header .color {
    border-radius: 50%;
    padding: 15px 10px;
    background-color: #F9F9F9;
    margin-left: 17px;
  }
  .header .burger__btn {
    z-index: 5;
    display: block;
    position: relative;
    width: 18px;
    height: 10px;
    cursor: pointer;
  }
  .header .burger__btn span,
  .header .burger__btn::before,
  .header .burger__btn::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #292D32;
  }
  .header .burger__btn::before,
  .header .burger__btn::after {
    content: "";
  }
  .header .burger__btn::before {
    top: 0;
  }
  .header .burger__btn::after {
    bottom: 0;
  }
  .header .burger__btn span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header .burger__btn._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header .burger__btn._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header .burger__btn._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}
@media (max-width: 575px) {
  .header .header__icons {
    margin-left: 20px;
  }
  .header .color {
    margin-left: 15px;
  }
}

.slider {
  background-color: #F2F2F2;
  margin-top: 100px;
}
.slider .slider_bg {
  background: url(../img/slider/slider.jpg) no-repeat;
  background-position: right;
  background-size: 28% 100%;
}
.slider .swiper .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/slider/Dell.png) no-repeat;
  background-position: 0 20%;
  position: relative;
}
.slider .swiper .swiper-wrapper .swiper-slide .slider__scroll {
  padding: 355px 108px 0 0;
}
.slider .swiper .swiper-wrapper .swiper-slide .slider__scroll .scroll__txt {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  padding-top: 15px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #838383;
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__block {
  padding: 250px 0 150px 0;
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__block .swiper-slide__suptitle {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  color: #838383;
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__block .swiper-slide__title {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  color: #292D32;
  max-width: 400px;
  padding: 15px 0 60px 0;
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__block .block__btn {
  background-color: #33A9FF;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__block .block__btn:hover {
  background-color: #1a70ae;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__block .block__href {
  font-family: "Roboto";
  font-size: 16px;
  color: #292D32;
  padding-left: 12px;
}
@media (max-width: 575px) {
  .slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__block .swiper-slide__suptitle {
    font-size: 15px;
  }
  .slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__block .swiper-slide__title {
    font-size: 30px;
    padding: 15px 0 28px 0;
  }
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__img {
  padding: 41px 60px 47px 0;
}
@media (max-width: 575px) {
  .slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__block {
    padding: 110px 0 590px 15px;
  }
  .slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__img {
    padding: 0;
  }
  .slider .swiper .swiper-wrapper .swiper-slide .slider__scroll {
    display: none;
  }
  .slider .swiper .swiper-wrapper .swiper-slide .main-img {
    position: absolute;
    top: 299px;
    left: 60px;
    width: 237px;
    height: 325px;
  }
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__menu {
  padding-top: 320px;
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__menu .menu__txt {
  font-family: "Roboto";
  font-size: 25px;
  color: #292D32;
  max-width: 180px;
  font-weight: 400;
}
@media (max-width: 575px) {
  .slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__menu .menu__txt {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__menu {
    padding: 80px 170px 100px 30px;
    background: url(../img/slider/slider.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    left: -2px;
    top: 641px;
  }
}
@media (max-width: 575px) {
  .slider .swiper .swiper-wrapper .swiper-slide {
    background: url(../img/Dell375.png) no-repeat;
    background-position: 30% 5%;
  }
}
.slider .swiper .swiper-pagination {
  left: 70%;
  top: 80%;
}
.slider .swiper .swiper-pagination-bullet-active {
  background-color: #292D32;
}
.slider .swiper .swiper-button-next {
  top: 80%;
  left: 85%;
}
.slider .swiper .swiper-button-next::after {
  content: "";
}
@media (max-width: 575px) {
  .slider .swiper .swiper-button-next {
    top: 68%;
    left: 78%;
  }
  .slider .swiper .slider__arrow {
    width: 64px;
    height: 14px;
  }
  .slider .swiper .swiper-pagination {
    left: 50%;
    top: 68%;
  }
}
@media (max-width: 575px) {
  .slider .slider_bg {
    background: none;
  }
}

@media (max-width: 575px) {
  .slider {
    max-width: 375px;
  }
}
.catalog .catalog-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 164px 0 180px 0;
}
.catalog .catalog-main .catalog-main__block {
  max-width: 440px;
  margin: 0 20px 20px 0;
}
.catalog .catalog-main .catalog-main__block .block__title {
  font-family: "Roboto";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
  color: #292D32;
}
.catalog .catalog-main .catalog-main__block .block__txt {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #838383;
  padding: 29px 0 46px 0;
}
.catalog .catalog-main .catalog-main__block .block__btn-block .block__btn {
  background-color: #33A9FF;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.catalog .catalog-main .catalog-main__block .block__btn-block .block__btn:hover {
  background-color: #1a70ae;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.catalog .catalog-main .catalog-main__block .block__btn-block .block__href {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #292D32;
  padding-left: 12px;
}
@media (max-width: 575px) {
  .catalog .catalog-main .catalog-main__block .block__title {
    font-size: 30px;
  }
  .catalog .catalog-main .catalog-main__block .block__txt {
    font-size: 15px;
    padding: 20px 0 30px 0;
  }
}
@media (max-width: 575px) {
  .catalog .catalog-main .catalog-main__block {
    padding: 0 15px;
  }
}
.catalog .catalog-main .catalog-main__block-prodact {
  width: 440px;
  height: 381px;
  border-radius: 20px;
  cursor: pointer;
}
.catalog .catalog-main .catalog-main__block-prodact .block-prodact__number {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 200;
  color: #292D32;
  padding: 50px 0 0 28px;
}
.catalog .catalog-main .catalog-main__block-prodact .block-prodact__img {
  position: relative;
}
.catalog .catalog-main .catalog-main__block-prodact .block-prodact__img .block-prodact__laptop {
  position: absolute;
  left: 0;
  bottom: -150px;
}
.catalog .catalog-main .catalog-main__block-prodact .block-prodact__img .block-prodact__monitor {
  position: absolute;
  left: 110px;
  bottom: -150px;
}
.catalog .catalog-main .catalog-main__block-prodact .block-prodact__img .block-prodact__server {
  position: absolute;
  left: 50px;
  bottom: -170px;
}
.catalog .catalog-main .catalog-main__block-prodact .block-prodact__img .block-prodact__emc {
  position: absolute;
  left: 80px;
  bottom: -170px;
}
.catalog .catalog-main .catalog-main__block-prodact .block-prodact__img .block-prodact__parts {
  position: absolute;
  left: 60px;
  bottom: -210px;
}
@media (max-width: 575px) {
  .catalog .catalog-main .catalog-main__block-prodact .block-prodact__img .block-prodact__laptop {
    max-width: 302px;
    max-height: 178px;
  }
  .catalog .catalog-main .catalog-main__block-prodact .block-prodact__img .block-prodact__monitor {
    max-width: 210px;
    max-height: 193px;
    left: 67px;
    bottom: -168px;
  }
  .catalog .catalog-main .catalog-main__block-prodact .block-prodact__img .block-prodact__server {
    max-width: 264px;
    max-height: 107px;
    left: 35px;
    bottom: -148px;
  }
  .catalog .catalog-main .catalog-main__block-prodact .block-prodact__img .block-prodact__emc {
    max-width: 226px;
    max-height: 124px;
    left: 41px;
    bottom: -148px;
  }
  .catalog .catalog-main .catalog-main__block-prodact .block-prodact__img .block-prodact__parts {
    max-width: 253px;
    max-height: 167px;
    left: 38px;
    bottom: -168px;
  }
}
.catalog .catalog-main .catalog-main__block-prodact .block-prodact__text {
  padding: 186px 0 40px 40px;
}
.catalog .catalog-main .catalog-main__block-prodact .block-prodact__text .block-prodact__suptitle {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  color: #838383;
}
.catalog .catalog-main .catalog-main__block-prodact .block-prodact__text .block-prodact__title {
  font-family: "Roboto";
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  color: #292D32;
}
@media (max-width: 575px) {
  .catalog .catalog-main .catalog-main__block-prodact .block-prodact__text .block-prodact__suptitle {
    font-size: 15px;
  }
  .catalog .catalog-main .catalog-main__block-prodact .block-prodact__text .block-prodact__title {
    font-size: 20px;
  }
}
.catalog .catalog-main .catalog-main__block-prodact .block-prodact__title:hover {
  text-decoration: underline;
}
@media (max-width: 575px) {
  .catalog .catalog-main .catalog-main__block-prodact .block-prodact__text {
    padding: 170px 0 49px 20px;
  }
  .catalog .catalog-main .catalog-main__block-prodact .block-prodact__number {
    font-size: 20px;
    padding: 20px 0 0 20px;
  }
}
@media (max-width: 575px) {
  .catalog .catalog-main .catalog-main__block-prodact {
    width: 345px;
    height: 275px;
  }
}
.catalog .catalog-main .margin01 {
  margin: 0 20px 20px 20px;
  background-color: #F2F2F2;
}
.catalog .catalog-main .margin01:hover {
  background-color: #F9F9F9;
  -webkit-transition: 0.3 linear;
  transition: 0.3 linear;
}
.catalog .catalog-main .margin02 {
  margin: 0 0 20px 20px;
  background-color: #F9F9F9;
}
.catalog .catalog-main .margin02:hover {
  background-color: #F2F2F2;
  -webkit-transition: 0.3 linear;
  transition: 0.3 linear;
}
.catalog .catalog-main .margin03 {
  margin: 20px 20px 0 0;
  background-color: #F2F2F2;
}
.catalog .catalog-main .margin03:hover {
  background-color: #F9F9F9;
  -webkit-transition: 0.3 linear;
  transition: 0.3 linear;
}
.catalog .catalog-main .margin04 {
  margin: 20px 20px 0 20px;
  background-color: #F9F9F9;
}
.catalog .catalog-main .margin04:hover {
  background-color: #F2F2F2;
  -webkit-transition: 0.3 linear;
  transition: 0.3 linear;
}
.catalog .catalog-main .margin05 {
  margin: 20px 0 0 20px;
  background-color: #F2F2F2;
}
.catalog .catalog-main .margin05:hover {
  background-color: #F9F9F9;
  -webkit-transition: 0.3 linear;
  transition: 0.3 linear;
}
@media (max-width: 575px) {
  .catalog .catalog-main .margin01,
  .catalog .catalog-main .margin02,
  .catalog .catalog-main .margin03,
  .catalog .catalog-main .margin04,
  .catalog .catalog-main .margin05 {
    margin: 10px 15px;
  }
}
@media (max-width: 575px) {
  .catalog .catalog-main {
    padding: 120px 0;
  }
}

@media (max-width: 575px) {
  .catalog {
    max-width: 375px;
  }
}
.advantages {
  background-color: #F5F5F5;
}
.advantages .advantages__bc {
  background: url(../img/advantages/best\ quality.png) no-repeat;
  background-position: 1% 20%;
}
.advantages .advantages-main {
  padding-bottom: 45px;
}
.advantages .advantages-main .advantages-main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 175px;
  pointer-events: none;
}
.advantages .advantages-main .advantages-main__info .info__img .info__mainimg {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: -97px;
  bottom: -135px;
}
@media (max-width: 575px) {
  .advantages .advantages-main .advantages-main__info .info__img .info__mainimg {
    left: 60px;
    bottom: -151px;
  }
}
.advantages .advantages-main .advantages-main__info .info__block {
  max-width: 503px;
  margin-left: 700px;
}
.advantages .advantages-main .advantages-main__info .info__block .info__title {
  font-family: "Roboto";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
  color: #292D32;
  padding-top: 183px;
}
.advantages .advantages-main .advantages-main__info .info__block .info__text {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #838383;
  padding: 37px 0 41px 0;
}
@media (max-width: 575px) {
  .advantages .advantages-main .advantages-main__info .info__block .info__title {
    padding-top: 100px;
    font-size: 30px;
  }
  .advantages .advantages-main .advantages-main__info .info__block .info__text {
    font-size: 15px;
    padding: 27px 0 31px 0;
  }
}
.advantages .advantages-main .advantages-main__info .info__block .info__button {
  z-index: 1000;
}
.advantages .advantages-main .advantages-main__info .info__block .info__button .info__btn {
  background-color: #33A9FF;
  border: none;
  padding: 15px;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
}
.advantages .advantages-main .advantages-main__info .info__block .info__button .info__btn:hover {
  background-color: #1a70ae;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.advantages .advantages-main .advantages-main__info .info__block .info__button .info__href {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #292D32;
  pointer-events: auto;
  padding-left: 12px;
}
@media (max-width: 575px) {
  .advantages .advantages-main .advantages-main__info .info__block {
    margin-left: 0;
    padding-left: 15px;
  }
}
@media (max-width: 575px) {
  .advantages .advantages-main .advantages-main__info {
    margin-bottom: 260px;
  }
}
.advantages .advantages-main .advantages-main__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages .advantages-main .advantages-main__card .card__item {
  display: block;
  width: 330px;
  height: 289px;
  background-color: #292D32;
  position: relative;
  margin-right: 27px;
  border-radius: 18px;
}
.advantages .advantages-main .advantages-main__card .card__item .card__item:hover {
  background-color: #1f2226;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.advantages .advantages-main .advantages-main__card .card__item .item__vecror .vector {
  position: absolute;
  top: 0;
  left: 180px;
}
@media (max-width: 575px) {
  .advantages .advantages-main .advantages-main__card .card__item .item__vecror .vector {
    left: 203px;
  }
}
.advantages .advantages-main .advantages-main__card .card__item .item__icon {
  padding: 30px 0 25px 30px;
}
.advantages .advantages-main .advantages-main__card .card__item .item__icon .icon__icon {
  background-color: #343A41;
  padding: 17px;
  border-radius: 10px;
}
@media (max-width: 575px) {
  .advantages .advantages-main .advantages-main__card .card__item .item__icon .icon__icon {
    padding: 5px;
  }
}
.advantages .advantages-main .advantages-main__card .card__item .item__title {
  font-family: "Euclid Circular";
  font-weight: 700;
  color: #ffffff;
  line-height: 1.2;
  font-size: 22px;
  padding: 0 0 13px 30px;
}
.advantages .advantages-main .advantages-main__card .card__item .item__text {
  max-width: 265px;
  font-family: "Euclid Circular";
  font-size: 16px;
  line-height: 1.2;
  color: #b7b7b7;
  padding: 0 0 0 30px;
}
@media (max-width: 575px) {
  .advantages .advantages-main .advantages-main__card .card__item .item__icon {
    padding: 20px 0 15px 20px;
  }
  .advantages .advantages-main .advantages-main__card .card__item .item__title {
    font-size: 18px;
    padding: 0 0 7px 20px;
  }
  .advantages .advantages-main .advantages-main__card .card__item .item__text {
    padding: 0 0 0 20px;
  }
}
@media (max-width: 575px) {
  .advantages .advantages-main .advantages-main__card .card__item {
    width: 345px;
    height: 211px;
    margin: 10px 0;
  }
}
@media (max-width: 575px) {
  .advantages .advantages-main .advantages-main__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 575px) {
  .advantages .advantages-main {
    padding-bottom: 120px;
  }
}

@media (max-width: 575px) {
  .advantages {
    max-width: 375px;
  }
}
.news .news-main {
  padding: 160px 0 280px 0;
}
.news .news-main .news-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news .news-main .news-head .news-head__text .news-head__title {
  font-family: "Roboto";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
  color: #292D32;
}
.news .news-main .news-head .news-head__text .news-head__txt {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #838383;
  padding: 25px 0 70px 0;
}
@media (max-width: 575px) {
  .news .news-main .news-head .news-head__text .news-head__title {
    font-size: 30px;
  }
  .news .news-main .news-head .news-head__text .news-head__txt {
    font-size: 15px;
    padding: 20px 0 30px 0;
  }
}
@media (max-width: 575px) {
  .news .news-main .news-head .news-head__text {
    padding-left: 15px;
  }
}
.news .news-main .news-head .news-head__button .news__href {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #292D32;
  padding-right: 17px;
}
.news .news-main .news-head .news-head__button .news__btn {
  background-color: #33A9FF;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.news .news-main .news-head .news-head__button .news__btn:hover {
  background-color: #1a70ae;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
@media (max-width: 575px) {
  .news .news-main .news-head .news-head__button .news__href {
    font-size: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 575px) {
  .news .news-main .news-head .news-head__button {
    padding: 0 0 40px 15px;
  }
}
@media (max-width: 575px) {
  .news .news-main .news-head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.news .news-main .news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.news .news-main .news-block .news-block__item {
  position: relative;
  -webkit-box-shadow: 5px 100px 10px #f9f9f9;
          box-shadow: 5px 100px 10px #f9f9f9;
}
.news .news-main .news-block .news-block__item .news-block__img .news__image {
  width: 100%;
  height: auto;
  border-radius: 45px 0 0 0;
}
.news .news-main .news-block .news-block__item .news-block__plug {
  position: relative;
}
.news .news-main .news-block .news-block__item .news-block__plug .plug {
  position: absolute;
  left: 0;
  bottom: -84px;
  width: 100%;
  height: auto;
}
@media (max-width: 575px) {
  .news .news-main .news-block .news-block__item .news-block__plug .plug {
    left: 0;
    bottom: -69px;
  }
}
.news .news-main .news-block .news-block__item .news-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: -47px;
}
.news .news-main .news-block .news-block__item .news-item__footer .footer__txt {
  padding-left: 30px;
}
.news .news-main .news-block .news-block__item .news-item__footer .footer__txt .news-block__title {
  font-family: "Roboto";
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  color: #292D32;
}
.news .news-main .news-block .news-block__item .news-item__footer .footer__txt .news-block__txt {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #292D32;
  margin-top: 10px;
}
.news .news-main .news-block .news-block__item .news-item__footer .news-block__btn {
  height: 65px;
  width: 65px;
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 319px;
}
.news .news-main .news-block .news-block__item .news-item__footer .news-block__btn .block__button {
  background-color: #292D32;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 575px) {
  .news .news-main .news-block .news-block__item .news-item__footer .news-block__btn {
    top: -9px;
    left: 265px;
  }
}
.news .news-main .news-block .news-block__item .news-item__date {
  position: absolute;
  top: 40px;
  left: 393px;
  background-color: #fefefe;
  width: 50px;
  height: 97px;
  border-radius: 15px 0 0 15px;
  text-align: center;
}
.news .news-main .news-block .news-block__item .news-item__date .date__number {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  color: #292D32;
  padding-top: 25px;
}
.news .news-main .news-block .news-block__item .news-item__date .date__mounth {
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 400;
  color: #292D32;
}
@media (max-width: 575px) {
  .news .news-main .news-block .news-block__item .news-item__date {
    top: 44px;
    left: 320px;
  }
}
.news .news-main .news-block .item1 {
  margin: 0 35px 130px 0;
}
.news .news-main .news-block .item2 {
  margin: 0 35px 130px 35px;
}
.news .news-main .news-block .item3 {
  margin: 0 0 130px 35px;
}
.news .news-main .news-block .item4 {
  margin: 35px 35px 0 0;
}
.news .news-main .news-block .item5 {
  margin: 35px 35px 0 35px;
}
.news .news-main .news-block .item6 {
  margin: 35px 0 0 35px;
}
@media (max-width: 575px) {
  .news .news-main .news-block .item1,
  .news .news-main .news-block .item2,
  .news .news-main .news-block .item3,
  .news .news-main .news-block .item4,
  .news .news-main .news-block .item5,
  .news .news-main .news-block .item6 {
    padding: 0 30px 0 15px;
    margin: 60px 0;
  }
}
@media (max-width: 575px) {
  .news .news-main {
    padding: 120px 0 220px 0;
  }
}

@media (max-width: 575px) {
  .news {
    max-width: 375px;
  }
}
.form {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, #eeeeee));
  background: linear-gradient(to bottom, white 50%, #eeeeee 50%);
}
.form .form_bg {
  background: url(../img/form/our\ contacts.png) no-repeat;
  background-position: 5% 99%;
}
.form .form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 180px 0;
  position: relative;
}
.form .form-main .form-main__contact {
  width: 600px;
  height: 742px;
  background-color: #f9f9f9;
  padding: 100px 0 0 100px;
  border-radius: 20px 0 0 20px;
}
.form .form-main .form-main__contact .contact__title {
  font-family: "Roboto";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
  color: #292D32;
}
.form .form-main .form-main__contact .contact__subtitle {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #838383;
  padding: 18px 0 50px 0;
}
.form .form-main .form-main__contact .contact-block {
  position: relative;
  max-width: 413px;
  padding-left: 50px;
}
.form .form-main .form-main__contact .contact-block .contact-block__icon {
  position: absolute;
  left: -11px;
}
.form .form-main .form-main__contact .contact-block .contact-block__suptitle {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #838383;
  padding-bottom: 8px;
}
.form .form-main .form-main__contact .contact-block .contact-block__title {
  font-family: "Roboto";
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  color: #292D32;
}
@media (max-width: 575px) {
  .form .form-main .form-main__contact .contact-block .contact-block__suptitle {
    font-size: 15px;
  }
  .form .form-main .form-main__contact .contact-block .contact-block__title {
    font-size: 18px;
  }
}
.form .form-main .form-main__contact .contact__icon {
  padding-top: 62px;
}
.form .form-main .form-main__contact .contact__icon .icon__el {
  padding-right: 10px;
}
@media (max-width: 575px) {
  .form .form-main .form-main__contact .contact__title {
    font-size: 30px;
  }
  .form .form-main .form-main__contact .contact__subtitle {
    font-size: 15px;
    padding: 15px 0 40px 0;
  }
}
.form .form-main .form__imgphone {
  position: absolute;
  top: 61px;
  left: 238px;
}
@media (max-width: 575px) {
  .form .form-main .form-main__contact {
    width: 375px;
    height: 632px;
    padding: 100px 0 0 30px;
  }
  .form .form-main .form__imgphone {
    top: 440px;
    left: 158px;
    width: 47%;
    height: auto;
    rotate: 10deg;
  }
}
.form .form-main .form-main__form {
  width: 600px;
  height: 742px;
  background-color: #292D32;
  border-radius: 0 20px 20px 0;
  padding: 100px 0 0 129px;
}
.form .form-main .form-main__form .form__title {
  font-family: "Roboto";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
.form .form-main .form-main__form .form__subtitle {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding: 18px 0 53px 0;
}
@media (max-width: 575px) {
  .form .form-main .form-main__form .form__title {
    font-size: 30px;
  }
  .form .form-main .form-main__form .form__subtitle {
    font-size: 15px;
  }
}
.form .form-main .form-main__form .form__block {
  position: relative;
  max-width: 420px;
  height: 527px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form .form-main .form-main__form .form__block .form__name {
  position: relative;
}
.form .form-main .form-main__form .form__block .form__name .label {
  position: absolute;
  top: -9px;
  left: 28px;
  background: #292D32;
  padding: 0 5px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  color: #F2F2F2;
}
.form .form-main .form-main__form .form__block .form__name .name {
  width: 100%;
  background-color: #292D32;
  border: 1px solid #818386;
  outline: none;
  border-radius: 20px;
  height: 68px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  padding: 0 10px;
}
@media (max-width: 575px) {
  .form .form-main .form-main__form .form__block .form__name .name {
    height: 50px;
    font-size: 16px;
    padding: 0 5px;
  }
}
.form .form-main .form-main__form .form__block .form__phone {
  position: relative;
}
.form .form-main .form-main__form .form__block .form__phone .phone {
  width: 100%;
  background-color: #292D32;
  border: 1px solid #818386;
  outline: none;
  border-radius: 20px;
  height: 68px;
  font-size: 20px;
  color: #ffffff;
  padding: 0 10px;
  margin: 40px 0;
}
@media (max-width: 575px) {
  .form .form-main .form-main__form .form__block .form__phone .phone {
    height: 50px;
    font-size: 16px;
    padding: 0 5px;
  }
}
.form .form-main .form-main__form .form__block .form__phone .label {
  position: absolute;
  top: 28px;
  left: 28px;
  background: #292D32;
  padding: 0 5px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  color: #F2F2F2;
}
.form .form-main .form-main__form .form__block .form__comm {
  position: relative;
}
.form .form-main .form-main__form .form__block .form__comm .comm {
  width: 100%;
  background-color: #292D32;
  border: 1px solid #818386;
  outline: none;
  border-radius: 20px;
  font-size: 30px;
  color: #ffffff;
  padding: 10px 10px;
  resize: none;
}
@media (max-width: 575px) {
  .form .form-main .form-main__form .form__block .form__comm .comm {
    height: 90px;
    font-size: 16px;
    padding: 0 5px;
  }
}
.form .form-main .form-main__form .form__block .form__comm .label {
  position: absolute;
  top: -9px;
  left: 28px;
  background: #292D32;
  padding: 0 5px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  color: #F2F2F2;
}
.form .form-main .form-main__form .form__block .form__button {
  padding-top: 71px;
}
.form .form-main .form-main__form .form__block .form__button .form__btn {
  background-color: #33A9FF;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.form .form-main .form-main__form .form__block .form__button .form__btn:hover {
  background-color: #1a70ae;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.form .form-main .form-main__form .form__block .form__button .form__href {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-left: 12px;
}
@media (max-width: 575px) {
  .form .form-main .form-main__form .form__block .form__button {
    padding: 30px 0 0 0;
  }
}
@media (max-width: 575px) {
  .form .form-main .form-main__form .form__block {
    width: 319px;
    height: 438px;
  }
}
@media (max-width: 575px) {
  .form .form-main .form-main__form {
    width: 375px;
    height: 558px;
    border-radius: 0;
    padding: 60px 0 0 20px;
  }
}
@media (max-width: 575px) {
  .form .form-main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
}

.email {
  padding: 47px 0 72px 0;
}

@media (max-width: 575px) {
  .email {
    padding: 30px 0;
  }
}
@media (max-width: 575px) {
  .form {
    max-width: 375px;
  }
}
.footer {
  background: url(../img/DELL.png) no-repeat;
  background-position: right;
}
.footer .footer-main {
  padding: 60px 0 40px 0;
}
.footer .footer-main .footer-main__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0 50px 0;
}
.footer .footer-main .footer-main__menu .menu-list .menu-list__title {
  font-family: "Roboto";
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  color: #292D32;
  padding-bottom: 15px;
}
.footer .footer-main .footer-main__menu .menu-list .menu-list__list .list__footer {
  display: block;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #292D32;
  padding-bottom: 10px;
}
.footer .footer-main .footer-main__menu .menu-list .menu-list__list .list__footer:hover {
  color: #88919a;
}
.footer .footer-main .footer-main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #e5e5e5;
}
.footer .footer-main .footer-main__info .info__block {
  padding-top: 40px;
}
.footer .footer-main .footer-main__info .info__block .block__title {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #838383;
  padding-bottom: 10px;
}
.footer .footer-main .footer-main__info .info__block .block__subtitle {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #292D32;
}
.footer .footer-main .footer-main__info .info__icon {
  padding-top: 48px;
}